In [8]:
with open('temp-log.lammps','r') as f:
    logs=f.readlines()
logs=logs[573:]

In [11]:
import pandas as pd
df = pd.DataFrame(columns=['Step', 'Temp', 'E_pair','E_mol','TotEng','Press'])
for i,j in enumerate(logs):
    a=j.split()
    if('NNP' in a):
        print(a)
        pass
    else:
        df.loc[i] = a

['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '1000', 'EW', '391471', 'EWPERSTEP', '3.915E+02']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '2000', 'EW', '543573', 'EWPERSTEP', '5.436E+02']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '3000', 'EW', '667623', 'EWPERSTEP', '6.676E+02']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '4000', 'EW', '716735', 'EWPERSTEP', '7.167E+02']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '5000', 'EW', '825684', 'EWPERSTEP', '8.257E+02']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '6000', 'EW', '873533', 'EWPERSTEP', '8.735E+02']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '7000', 'EW', '945663', 'EWPERSTEP', '9.457E+02']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '8000', 'EW', '1049518', 'EWPERSTEP', '1.050E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '9000', 'EW', '1058663', 'EWPERSTEP', '1.059E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '10000', 'EW', '1114487', 'EWPERSTEP', '1.114E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '11000', 'EW', '1264740', 'EWPERSTEP', '1.265E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '12000', 'EW', '1350688', 'EWPERSTEP', '1.351E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '13000', 'EW', '1342081', 'EWPERSTEP', '1.342E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '14000', 'EW', '1329375', 'EWPERSTEP', '1.329E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '15000', 'EW', '1424351', 'EWPERSTEP', '1.424E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '16000', 'EW', '1499779', 'EWPERSTEP', '1.500E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '17000', 'EW', '1652751', 'EWPERSTEP', '1.653E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '18000', 'EW', '1735129', 'EWPERSTEP', '1.735E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '19000', 'EW', '1901410', 'EWPERSTEP', '1.901E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '20000', 'EW', '1875437', 'EWPERSTEP', '1.875E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '21000', 'EW', '2082335', 'EWPERSTEP', '2.082E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '22000', 'EW', '2016574', 'EWPERSTEP', '2.017E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '23000', 'EW', '2109268', 'EWPERSTEP', '2.109E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '24000', 'EW', '2192689', 'EWPERSTEP', '2.193E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '25000', 'EW', '2200966', 'EWPERSTEP', '2.201E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '26000', 'EW', '2193277', 'EWPERSTEP', '2.193E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '27000', 'EW', '2192858', 'EWPERSTEP', '2.193E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '28000', 'EW', '2184516', 'EWPERSTEP', '2.185E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '29000', 'EW', '2211127', 'EWPERSTEP', '2.211E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '30000', 'EW', '2245407', 'EWPERSTEP', '2.245E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '31000', 'EW', '2276869', 'EWPERSTEP', '2.277E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '32000', 'EW', '2292937', 'EWPERSTEP', '2.293E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '33000', 'EW', '2331837', 'EWPERSTEP', '2.332E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '34000', 'EW', '2274040', 'EWPERSTEP', '2.274E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '35000', 'EW', '2396245', 'EWPERSTEP', '2.396E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '36000', 'EW', '2432197', 'EWPERSTEP', '2.432E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '37000', 'EW', '2422871', 'EWPERSTEP', '2.423E+03']
['###', 'NNP', 'EW', 'SUMMARY', '###', 'TS:', '38000', 'EW', '2476068', 'EWPERSTEP', '2.476E+03']

ValueError: cannot set a row with mismatched columns

In [12]:
df['Step']=float(df['Step'])

TypeError: cannot convert the series to <class 'float'>